
/* กำหนดรูปภาพที่มีขนาดเท่ากันทั้งหมด */
.card-img-top { 
    object-fit: contain;
    aspect-ratio: 1/1;
}

/* กำหนดขนาดสไล์ดหน้าHome */
.carousel-item img {
    object-fit: contain;
    aspect-ratio: 16/9;
}




