
/* กำหนดรูปภาพที่มีขนาดเท่ากันทั้งหมด */
.card-img-top { 
    object-fit: contain;
    aspect-ratio: 1/1;
}

/* กำหนดขนาดสไล์ดหน้าHome */
.carousel-item img {
    object-fit: contain;
    aspect-ratio: 16/9;
}

.text-danger{
    font-size: 13px;
}

.save_discount{
    margin-left: 4px;
    margin-right: 4px;
    font-size: 11px;
}

#card-items{
    gap: 5%
}
.card-text-name{
    font-size:15px;
    font-weight: bold;

}

.card-description{
    font-size:13px;
}

.card-text-price{
    font-weight: bold;
}

