
.carousel-item img {
    object-fit: contain;
    aspect-ratio: 16/9;
}

.cart_img{
    width: 200px;
}

.cart_img img{
    object-fit: contain;
    aspect-ratio: 4/3;
    width: 100%;
}

.cart p{
    font-size: medium;
    margin-bottom: 5px;
}




